.body {
  font-family: $ff-primary;
  padding: 1rem;
  background-color: $clr-cream;
  display: grid;
  place-items: center;
}

.logo {
  inline-size: 3.75rem;
}

.container {
  border-radius: 1.5rem;
  padding: 1.25rem;
}

.text-align--end {
  text-align: end;
  align-self: end;
}

.chart {
  display: grid;
  gap: 1rem;
  inline-size: min(100%, 425px);
  &__header {
    background-color: $clr-soft-red;
    display: flex;
    justify-content: space-between;
    & .chart__summary__title,
    .chart__summary__value {
      color: $clr-very-pale-orange;
    }
  }

  &__summary {
    &__title {
      color: $clr-medium-brown;
      font-weight: $fw-400;
      font-size: clamp(0.95rem, 0.84rem + 0.47vw, $fs-primary);
    }
    &__value {
      font-size: clamp(0.95rem, 0.84rem + 0.47vw, $fs-primary);
      color: $clr-dark-brown;
      font-weight: $fw-700;
      &--large {
        font-size: clamp(1.5rem, 1.32rem + 0.78vw, 2rem);
      }
      &--xl {
        font-size: clamp(1.9rem, 1.53rem + 1.57vw, 2.9rem);
      }
    }
  }

  &__bar-chart {
    padding-block: 4rem 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    &__bar {
      font-size: clamp(0.75rem, 0.57rem + 0.78vw, 1.25rem);
      display: grid;
      gap: 0.25rem;
      text-align: center;
      justify-items: center;
      position: relative;
      align-self: end;
      &__value {
        background-color: $clr-dark-brown;
        color: $clr-very-pale-orange;
        padding: 0.4rem 0.5rem;
        border-radius: 6px;
        position: absolute;
        inset-block-start: -47px;
        opacity: 0;
        z-index: -2;
        transition: opacity 0.125s;
        font-weight: $fw-700;
      }

      &:hover &__value {
        display: initial;
        opacity: 1;
        z-index: 1;
      }

      &__rect {
        inline-size: clamp(2rem, 1.63rem + 1.56vw, 3rem);
        background-color: $clr-soft-red;
        height: 100px;
        border-radius: 5px;
        &:hover {
          filter: brightness(1.2);
        }
      }
      &__date {
        color: $clr-medium-brown;
      }
    }
  }

  &__body {
    background-color: $clr-very-pale-orange;
    &__heading {
      font-size: clamp(1rem, 0.63rem + 1.56vw, 2rem);
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      border-block-start: 2px solid $clr-cream;
      padding-block-start: 1rem;
    }
  }
}

.cyan {
  background-color: $clr-cyan;
}

@media (min-width: 769px) {
  .container {
    padding: 1.75rem 2.5rem;
    &.chart__header {
      padding: 1.75rem 2rem 1.25rem;
    }
  }

  .logo {
    inline-size: 4.5rem;
  }

  .chart {
    gap: 1.5rem;
    &__body {
      &__heading {
        text-align: start;
      }
    }

    &__bar-chart {
      gap: 1.25rem;
      &__bar {
        gap: 0.25rem;
      }
    }
  }
}
